<!-- 
Title: Air Alarm
Used In File(s): \code\game\machinery\alarm.dm

#define AALARM_MODE_SCRUBBING	1
#define AALARM_MODE_REPLACEMENT	2 //like scrubbing, but faster.
#define AALARM_MODE_PANIC		3 //constantly sucks all air
#define AALARM_MODE_CYCLE		4 //sucks off all air, then refill and switches to scrubbing
#define AALARM_MODE_FILL		5 //emergency fill
#define AALARM_MODE_OFF			6 //Shuts it all down.

#define AALARM_SCREEN_MAIN		1
#define AALARM_SCREEN_VENT		2
#define AALARM_SCREEN_SCRUB		3
#define AALARM_SCREEN_MODE		4
#define AALARM_SCREEN_SENSORS	5

 -->
<H1>Данные сенсоров</H1>
{{if data.has_environment}}
	{{for data.environment}}
		{{:value.name}}: 
		{{if value.danger_level == 2}}
			<span class='bad'>
		{{else value.danger_level == 1}}
			<span class='average'>
		{{else}}
			<span class='good'>
		{{/if}}
		{{:helper.fixed(value.value, 1)}}
		</span>{{:value.unit}}<br>
	{{/for}}
	Статус: {{if data.total_danger == 2}}
			<span class='bad'>ОПАСНОСТЬ: Серьезные отхожения от нормы
		{{else data.total_danger == 1}}
			<span class='average'>Отклонение от нормы
		{{else}}
			<span class='good'>Оптимально
		{{/if}}
		</span><br>
    Тревога: {{if data.atmos_alarm}}<span class='bad'>Атмосфера</span>{{else data.fire_alarm}}<span class='bad'>Пожар</span>{{else}}Нет{{/if}}
{{else}}
	<span class='bad'>Предупреждение: Не удается получить пробы воздуха для анализа.</span>
{{/if}}
<HR>
    <table width="100%">
        <tr>
            <td>
                <tr>
                    <td>
                        <H3>Удаленный контроль</H3>
                    </td>
                    <td>
                        <H3>Термостат</H3>
                    </td>
                </tr>
            </td>
            <td>
                <tr>
                    <td>
                        <div class="item">
                            <div class="itemContent" style="width: 100%;">	
                                {{:helper.link('Выкл',	null, { 'rcon' : 1}, data.remote_connection && !data.remote_access ? (data.rcon == 1 ? 'yellowButton' : 'disabled') : null, data.rcon == 1 ? 'selected' : null)}}
                                {{:helper.link('Авто',	null, { 'rcon' : 2}, data.remote_connection && !data.remote_access ? (data.rcon == 2 ? 'yellowButton' : 'disabled') : null, data.rcon == 2 ? 'selected' : null)}}
                                {{:helper.link('Вкл',	null, { 'rcon' : 3}, data.remote_connection && !data.remote_access ? (data.rcon == 3 ? 'yellowButton' : 'disabled') : null, data.rcon == 3 ? 'selected' : null)}}
                            </div>
                        </div>
                    </td>
                    <td>
                        {{:helper.link(data.target_temperature, null, { 'temperature' : 1})}}
                    </td>
                </tr>
            </td>
        </tr>
    </table>
<HR>
{{if (data.locked && !data.remote_connection) || (data.remote_connection && ! data.remote_access)}}
	{{if data.remote_connection}}
		<span class='noticePlaceholder'>(Отказано в доступе.)</span>
	{{else}}
		<span class='noticePlaceholder'>(Проведите картой для разблокировки.)</span>
	{{/if}}
{{else}}
    {{if data.screen != 1}}
        <div class="item">{{:helper.link('Меню', null, { 'screen' : 1})}}</div>
    {{/if}}
    {{if data.screen == 1}}
        <div class="item">
            {{if data.atmos_alarm}}
                {{:helper.link('Деактивировать тревогу', null, { 'atmos_reset' : 1})}}
            {{else}}
                {{:helper.link('Активировать тревогу', null, { 'atmos_alarm' : 1})}}
            {{/if}}
        </div>
        <hr>
            <div class="item">
                {{:helper.link('Настройка фильтров', null, { 'screen' : 3})}}
            </div>
            <div class="item">
                {{:helper.link('Вентиляционные отверстия', null, { 'screen' : 2})}}
            </div>
            <div class="item">
                {{:helper.link('Установить режим', null, { 'screen' : 4})}}
            </div>
            <div class="item">
                {{:helper.link('Настройки сенсоров', null, { 'screen' : 5})}}
            </div>
        <hr>
            {{if data.mode==3}}
                {{:helper.link('<b>ЭКСТРЕННАЯ ОТКАЧКА АКТИВНА</b>', null, { 'mode' : 1}, null, 'redButton')}}
			{{else}}
                {{:helper.link('ЭКСТРЕННАЯ ОТКАЧКА АТМОСФЕРЫ', null, { 'mode' : 3}, null, 'yellowButton')}}
            {{/if}}
    {{else data.screen == 2}}
		{{for data.vents}}
			<div class="item">
			{{:value.long_name}}</div>
			<div class="item">
				<div class="itemLabel">
					Статус:
				</div>
				<div class="itemContent">
					{{:helper.link(value.power ? 'Вкл' : 'Выкл', null, { 'id_tag' : value.id_tag, 'command' : 'power', 'val' : value.power ? 0 : 1}, null, value.power ? null : 'redButton')}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Режим:
				</div>
				<div class="itemContent">
					{{:value.direction == "siphon" ? 'Выкачивание' : 'Поддержание давления'}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Проверка давления:
				</div>
				<div class="itemContent">
					{{:helper.link('Выходное', null, { 'id_tag' : value.id_tag, 'command' : 'checks', 'val' : value.checks^1}, null, value.checks&1 ? 'selected' : null)}}
					{{:helper.link('Входное', null, { 'id_tag' : value.id_tag, 'command' : 'checks', 'val' : value.checks^2}, null, value.checks&2 ? 'selected' : null)}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Граница закачки:
				</div>
				<div class="itemContent">
					{{:helper.link(helper.fixed(value.external,2), null, { 'id_tag' : value.id_tag, 'command' : 'set_external_pressure'})}}
					{{:helper.link('Сбросить', null, { 'id_tag' : value.id_tag, 'command' : 'reset_external_pressure'})}}
				</div>
			</div>			
			<HR>
		{{empty}}
			Вентеляция не подключена.
		{{/for}}
    {{else data.screen == 3}}
		{{for data.scrubbers}}
			<div class="item">
			{{:value.long_name}}</div>
			<div class="item">
				<div class="itemLabel">
					Статус:
				</div>
				<div class="itemContent">
					{{:helper.link(value.power ? 'Вкл' : 'Выкл', null, { 'id_tag' : value.id_tag, 'command' : 'power', 'val' : value.power ? 0 : 1}, null, value.power ? null : 'redButton')}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Режим:
				</div>
				<div class="itemContent">
					{{:helper.link(value.scrubbing ? 'Фильтрация' : 'Выкачивание', null, { 'id_tag' : value.id_tag, 'command' : 'scrubbing', 'val' : value.scrubbing ? 0 : 1}, null, value.scrubbing ? null : 'redButton')}}
				</div>
			</div>
			<div class="item">
				<div class="itemLabel">
					Фильтр:
				</div>
				<div class="itemContent">
					{{for value.filters :filterValue:filterIndex}}
						{{:helper.link(filterValue.name, null, { 'id_tag' : value.id_tag, 'command' : filterValue.command, 'val' : filterValue.val ? 0 : 1}, null, filterValue.val ? 'selected' : null)}}
					{{/for}}
				</div>
			</div>
			<HR>
		{{empty}}
			Фильтры не подключены.
		{{/for}}
    {{else data.screen == 4}}
		<H3>Режим работы</H3>
		{{for data.modes}}
			<div class="item">
				{{:helper.link(value.name, null, { 'mode' : value.mode }, null, value.selected ? (value.danger ? 'redButton' : 'selected') : null)}}
			</div>
		{{/for}}
    {{else data.screen == 5}}
		<H3>Настройка сенсоров</H3>
		<table class='fixed'>
		<tr>
			<td></td><td><span class='bad'>min2</span></td><td><span class='average'>min1</span></td><td><span class='average'>max1</span></td><td><span class='bad'>max2</span></td>
		</tr>
		{{for data.thresholds}}
			<tr>
				<td>{{:value.name}}</td>
				{{for value.settings :settingsValue:settingsIndex}}
					<td>
						{{:helper.link(settingsValue.selected >= 0 ? helper.fixed(settingsValue.selected, 2) : "Выкл", null, { 'command' : 'set_threshold', 'env' : settingsValue.env, 'var' : settingsValue.val })}}
					</td>
				{{/for}}
			</tr>			
		{{/for}}
		<table>
    {{/if}}
{{/if}}
 