<H1>Серьезные отклонения</H1>
{{for data.priority_alarms}}
	<div class="item">
        {{:value.name}} {{:helper.link('Сбросить', null, {'clear_alarm' : value.ref})}}
	</div>
{{empty}}
	Серьезных отклонений не обнаружено.
{{/for}}

<H3>Незначительные отклонения</H3>
{{for data.minor_alarms}}
    <div class="item">
        {{:value.name}} {{:helper.link('Сбросить', null, {'clear_alarm' : value.ref})}}
    </div>
{{empty}}
    Незначительных отклонений не обнаружено.
{{/for}}

