<h3>Состояние канистры</h3>
<div class="item">
	<div class="itemLabel">
		Наименование:
	</div>
	<div class="itemContent">
		<div style="float: left; width: 180px;">{{:data.name}}</div> {{:helper.link('Переименовать', 'pencil', {'relabel' : 1}, data.canLabel ? null : 'disabled')}}
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Давление:
	</div>
	<div class="itemContent">
		{{:data.tankPressure}} кПа
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Подключение к порту:
	</div>
	<div class="itemContent">
		{{:data.portConnected ? '<span class="good">Подключено</span>' : '<span class="average">Отключено</span>'}}
	</div>
</div>

<h3>Состояние баллона</h3>
{{if data.hasHoldingTank}}
	<div class="item">
		<div class="itemLabel">
			Наименование:
		</div>
		<div class="itemContent">
			<div style="float: left; width: 180px;">{{:data.holdingTank.name}}</div> {{:helper.link('Извлечь', 'eject', {'remove_tank' : 1})}}
		</div>
	</div>

	<div class="item">
		<div class="itemLabel">
			Давление:
		</div>
		<div class="itemContent">
			{{:data.holdingTank.tankPressure}} кПа
		</div>
	</div>
{{else}}
	<div class="item"><span class="average"><i>Баллон не вставлен.</i></span></div>
	<div class="item">&nbsp;</div>
{{/if}}


<h3>Состояние клапана</h3>
<div class="item">
	<div class="itemLabel">
		Выходное давление:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.releasePressure, data.minReleasePressure, data.maxReleasePressure)}}
		<div style="clear: both; padding-top: 4px;">
			{{:helper.link('-', null, {'pressure_adj' : -1000}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
			{{:helper.link('-', null, {'pressure_adj' : -100}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
			{{:helper.link('-', null, {'pressure_adj' : -10}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
			{{:helper.link('-', null, {'pressure_adj' : -1}, (data.releasePressure > data.minReleasePressure) ? null : 'disabled')}}
			<div style="float: left; width: 80px; text-align: center;">&nbsp;{{:data.releasePressure}} kPa&nbsp;</div>
			{{:helper.link('+', null, {'pressure_adj' : 1}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('+', null, {'pressure_adj' : 10}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('+', null, {'pressure_adj' : 100}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
			{{:helper.link('+', null, {'pressure_adj' : 1000}, (data.releasePressure < data.maxReleasePressure) ? null : 'disabled')}}
		</div>
	</div>
</div>

<div class="item">
	<div class="itemLabel">
		Позиция клапана:
	</div>
	<div class="itemContent">
		{{:helper.link('Открыто', 'unlocked', {'toggle' : 1}, data.valveOpen ? 'selected' : null)}}{{:helper.link('Закрыто', 'locked', {'toggle' : 1}, data.valveOpen ? null : 'selected')}}
	</div>
</div>

