{{:helper.link('Очистить заказ', 'circle', { "clean_order" : 1 })}}<br><br>
<i>Ваше устройство мечты всего в 4 шагах от Вас...</i><hr>
{{if data.state == 0}} <!-- Device type selection -->
<div class='item'>
	<h2>Шаг 1: Выберите тип</h2>
	{{:helper.link('Ноутбук', 'calc', { "pick_device" : 1 })}} 
	{{:helper.link('Планшет', 'calc', { "pick_device" : 2 })}}
</div>
{{else data.state == 1}}
<div class='item'>
	<h2>Шаг 2: Выберите комплектующие</h2>
	<table>
		<tr>
			<td><b>Текущая цена:</b>
			<td>{{:data.totalprice}}
		<tr>	
			<td><b>Батарея:</b>
			<td>{{:helper.link('Стандартная', null, { "hw_battery" : 1 }, data.hw_battery == 1 ? 'selected' : null)}}
			<td>{{:helper.link('Улучшенная', null, { "hw_battery" : 2 }, data.hw_battery == 2 ? 'selected' : null)}}
			<td>{{:helper.link('Продвинутая', null, { "hw_battery" : 3 }, data.hw_battery == 3 ? 'selected' : null)}}
		<tr>
			<td><b>Жёсткий диск:</b>
			<td>{{:helper.link('Стандартный', null, { "hw_disk" : 1 }, data.hw_disk == 1 ? 'selected' : null)}}
			<td>{{:helper.link('Улучшенный', null, { "hw_disk" : 2 }, data.hw_disk == 2 ? 'selected' : null)}}
			<td>{{:helper.link('Продвинутый', null, { "hw_disk" : 3 }, data.hw_disk == 3 ? 'selected' : null)}}
		<tr>
			<td><b>Сетевая карта:</b>
			<td>{{:helper.link('Нет', null, { "hw_netcard" : 0 }, data.hw_netcard == 0 ? 'selected' : null)}}
			<td>{{:helper.link('Стандартная', null, { "hw_netcard" : 1 }, data.hw_netcard == 1 ? 'selected' : null)}}
			<td>{{:helper.link('Улучшенная', null, { "hw_netcard" : 2 }, data.hw_netcard == 2 ? 'selected' : null)}}
		{{if data.devtype != 2}} <!-- No tablets -->
		<tr>
			<td><b>ЦП:</b>
			<td>{{:helper.link('Стандартный', null, { "hw_cpu" : 1 }, data.hw_cpu == 1 ? 'selected' : null)}}
			<td>{{:helper.link('Улучшенный', null, { "hw_cpu" : 2 }, data.hw_cpu == 2 ? 'selected' : null)}}
		<tr>
			<td><b>Ретранслятор Теслы:</b>
			<td>{{:helper.link('Нет', null, { "hw_tesla" : 0 }, data.hw_tesla == 0 ? 'selected' : null)}}
			<td>{{:helper.link('Стандартный', null, { "hw_tesla" : 1 }, data.hw_tesla == 1 ? 'selected' : null)}}
		{{/if}}
		<tr>
			<td><b>Нано-принтер:</b>
			<td>{{:helper.link('Нет', null, { "hw_nanoprint" : 0 }, data.hw_nanoprint == 0 ? 'selected' : null)}}
			<td>{{:helper.link('Стандартный', null, { "hw_nanoprint" : 1 }, data.hw_nanoprint == 1 ? 'selected' : null)}}
		<tr>
			<td><b>Считыватель карт:</b>
			<td>{{:helper.link('Нет', null, { "hw_card" : 0 }, data.hw_card == 0 ? 'selected' : null)}}
			<td>{{:helper.link('Стандартный', null, { "hw_card" : 1 }, data.hw_card == 1 ? 'selected' : null)}}
		<tr>
			<td><b>Подтвердите заказ:</b>
			<td>{{:helper.link('ПОДТВЕРДИТЬ', null, { "confirm_order" : 1 })}}
	</table>
	<hr>
	<b>Батарея</b> позволяет работать устройству без подключения к источнику питанция. Чем лучше батарея - тем дольше она держит заряд.<br>
	<b>Жёсткий Диск</b> содержит на себе информацию. Чем лучше накопитель - тем больше файлов он может хранить, но .<br>
	<b>Сетевая Карта</b> позволяет подключиться к сети станции. Стандартная карта работает только на станции, улучшенная позволяет быть в сети даже из открытого космоса.<br>
	<b>Центральный Процессор</b> - главная часть девайса. Он позволяет запускать программы, записанные на жёстком диске. Улучшенный ЦП требует больше энергии, но позволяет запускать больше программ в фоновом режиме.<br>
	<b>Ретранслятор Теслы</b> позволяет подключиться к ближайшему энерго-контроллеру зоны и использовать его как источник энергии. Данный компонент временно недоступен на планшетах из-за своих размеров.<br>
	<b>Нано-принтер</b> позволяет печатать документы и даже сканировать их! Устройство получило лицензию EcoFriendlyPlus и может утилизировать бумагу.<br>
	<b>Считыватель карт</b> добавляет слот для манипулирования RFID-картами. Помните, что он не обязателен для считывания Вашего доступа, он нужен для перезаписи информации на карты.
</div>
{{else data.state == 2}}
	<h2>Шаг 3: Оплата</h2>
	<b>Ваш девайс готов к сборке...</b><br>
	<i>Проведите своей картой для проведения оплаты.</i><br>
	<i>Итоговая цена: <b>{{:data.totalprice}}</b></i>
{{else data.state == 3}}
	<h2>Шаг 4: Спасибо за покупку</h2>
	<b>При возникновении проблем с Вашим устройством свяжитесь с тех. поддержкой по адресу support@computerservice.nt</b>
{{/if}}