<!-- 
Title: Cryo Cell Status UI 
Used In File(s): \code\game\machinery\cryo.dm
 -->
<h3>Статус крио-капсулы</h3>

<div class="statusDisplay">
	{{if !data.hasOccupant}}
		<div class="line">Капсула свободна</div>
	{{else}}
		<div class="line">
			{{:data.occupant.name}}&nbsp;=>&nbsp;
			{{if data.occupant.stat == 0}}
				<span class="good">В сознании</span>
			{{else data.occupant.stat == 1}}
				<span class="average">Без сознания</span>
			{{else}}
				<span class="bad">МЁРТВ</span>
			{{/if}}
		</div>
	
		{{if data.occupant.stat < 2}}
			<div class="line">
				<div class="statusLabel">Здоровье:</div>
				{{if data.occupant.health >= 0}}
					{{:helper.displayBar(data.occupant.health, 0, data.occupant.maxHealth, 'good')}}
				{{else}}
					{{:helper.displayBar(data.occupant.health, 0, data.occupant.minHealth, 'average alignRight')}}
				{{/if}}
				<div class="statusValue">{{:helper.round(data.occupant.health)}}</div>
			</div>
		
			<div class="line">
				<div class="statusLabel">=&gt; Физический урон:</div>
				{{:helper.displayBar(data.occupant.bruteLoss, 0, data.occupant.maxHealth, 'bad')}}
				<div class="statusValue">{{:helper.round(data.occupant.bruteLoss)}}</div>
			</div>
		
			<div class="line">
				<div class="statusLabel">=&gt; Кислородное голодание:</div>
				{{:helper.displayBar(data.occupant.oxyLoss, 0, data.occupant.maxHealth, 'bad')}}
				<div class="statusValue">{{:helper.round(data.occupant.oxyLoss)}}</div>
			</div>
		
			<div class="line">
				<div class="statusLabel">=&gt; Отравление:</div>
				{{:helper.displayBar(data.occupant.toxLoss, 0, data.occupant.maxHealth, 'bad')}}
				<div class="statusValue">{{:helper.round(data.occupant.toxLoss)}}</div>
			</div>
		
			<div class="line">
				<div class="statusLabel">=&gt; Ожоги:</div>
				{{:helper.displayBar(data.occupant.fireLoss, 0, data.occupant.maxHealth, 'bad')}}
				<div class="statusValue">{{:helper.round(data.occupant.fireLoss)}}</div>
			</div>
		{{/if}}
	{{/if}}
	<hr>
	<div class="line">
		<div class="statusLabel">Температура капсулы:</div><div class="statusValue">
			<span class="{{:data.cellTemperatureStatus}}">{{:data.cellTemperature}} K</span>
		</div>
	</div>
</div>

<h3>Настройки крио-капсулы</h3>
<div class="item">
	<div class="itemLabel">
		Статус крио-капсулы:
	</div>
	<div class="itemContent" style="width: 40%;">
		{{:helper.link('Вкл', 'power', {'switchOn' : 1}, data.isOperating ? 'selected' : null)}}{{:helper.link('Выкл', 'close', {'switchOff' : 1}, data.isOperating ? null : 'selected')}}
	</div>
	<div class="itemContent" style="width: 26%;">
		{{:helper.link('Извлечь пациента', 'arrowreturnthick-1-s', {'ejectOccupant' : 1}, data.hasOccupant ? null : 'disabled')}}
	</div>
</div>
<div class="item">&nbsp;</div>
<div class="item">
	<div class="itemLabel">
		Ёмкость:
	</div>
	<div class="itemContent" style="width: 40%;">
		{{if data.isBeakerLoaded}}		
			{{:data.beakerLabel ? data.beakerLabel : '<span class="average">Без названия</span>'}}<br>
			{{if data.beakerVolume}}
				<span class="highlight">Остаток: {{:data.beakerVolume}} кубов</span><br>
			{{else}}
				<span class="bad">Ёмкость пуста</span>
			{{/if}}
		{{else}}
			<span class="average"><i>Ёмкость не вставлена</i></span>
		{{/if}}
	</div>
	<div class="itemContent" style="width: 26%;">
		{{:helper.link('Извлечь ёмкость', 'eject', {'ejectBeaker' : 1}, data.isBeakerLoaded ? null : 'disabled')}}
	</div>
</div>