<div class="item">
  <div class="itemContent">
    {{:helper.link('Закрыть', 'gear', {'close' : '1'}, null, 'fixedLeft')}}
  </div>
</div>

<div class="item">
  <h2>Состояние среды</h2>
</div>
<div class="item">
  <div class="itemLabel">
    Питание:
  </div>
  <div class="itemContent">
    {{:helper.link('Вкл', 'power', { 'power' : 1 }, !data.dish_inserted ? 'disabled' : data.on ? 'selected' : null)}}{{:helper.link('Выкл', 'close', { 'power' : 1 }, data.on ? null : 'selected')}}
  </div>
</div>
<div class='item'>
  {{:helper.link('Облучить', 'radiation', {'rad' : 1})}}
  {{:helper.link('Промыть систему', 'trash', {'flush' : 1}, data.system_in_use ? null : 'disabled')}}
</div>

<div class="statusDisplay" style="height: 100px; overflow: auto;">
  <div class='item'>
    <div class="itemLabel">
      <span class='good'>Пища для вирусов:</span>
    </div>
    <div class="itemContent">
      {{:helper.displayBar(data.food_supply, 0, 100, 'good', data.food_supply)}}
    </div>
  </div>
  <div class='item'>
    <div class="itemLabel">
      <span class='good'>Уровень радиации:</span>
    </div>
    <div class="itemContent">
      {{:helper.displayBar(data.radiation, 0, 100, (data.radiation >= 50) ? 'bad' : (data.growth >= 25) ? 'average' : 'good')}}
      <br/>
      {{:helper.formatNumber(data.radiation * 10000)}} <acronym title='В микроЗивертах'>&micro;Зв</acronym>
    </div>
  </div>
  <div class='item'>
    <div class="itemLabel">
      <span class='good'>Токсичность:</span>
    </div>
    <div class="itemContent">
      {{:helper.displayBar(data.toxins, 0, 100, (data.toxins >= 50) ? 'bad' : (data.toxins >= 25) ? 'average' : 'good', data.toxins + '%')}}
    </div>
  </div>
</div>

<div class="item">
  <h2>Химикаты</h2>
</div>
<div class='item'>
  {{:helper.link('Извлечь химикаты', 'eject', { 'ejectchem' : 1 }, data.chemicals_inserted ? null : 'disabled')}}
  {{:helper.link('Вырастить вирус', 'circle-arrow-s', { 'virus' : 1 }, data.can_breed_virus ? null : 'disabled')}}
</div>

{{if data.chemicals_inserted}}
  <div class='item'>
    <div class='itemLabel'>
      Объём:
    </div>
    <div class='itemContent'>
      {{:helper.displayBar(data.chemical_volume, 0, data.max_chemical_volume, 'good', data.chemical_volume + ' / ' + data.max_chemical_volume)}}
    </div>
  </div>
  <div class='item'>
    <div class='itemLabel'>
      Среда выращивания:
    </div>
    <div class='itemContent'>
      <span class='{{:data.can_breed_virus ? "good" : "average"}}'>
        {{:!data.dish_inserted ? 'N/A' : data.can_breed_virus ? 'Подходящая' : 'Гемолитичные образцы не обнаружены'}}
      </span>
      {{if data.blood_already_infected}}
        <br/>
        <span class='bad'><i>ВНИМАНИЕ: В образце зафиксирована вирусная инфекция.</i></span>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class='item'>
    <span class='average'>Химикаты отсутствуют.</span>
  </div>
{{/if}}

<div class="item">
  <h2>Обоазец вируса</h2>
</div>
<div class='item'>
  {{:helper.link('Извлечь образец', 'eject', {'ejectdish' : 1}, data.dish_inserted ? null : 'disabled')}}
</div>

{{if data.dish_inserted}}
  {{if data.virus}}
  <div class="item">
    <div class="itemLabel">
      <b>Плотность роста:</b>
    </div>
    <div class="itemContent">
      {{:helper.displayBar(data.growth, 0, 100, (data.growth >= 50) ? 'good' : (data.growth >= 25) ? 'average' : 'bad', data.growth + '%' )}}
    </div>
  </div>
  <div class='item'>
    <div class='itemLabel'>
      <b>Заражённость:</b>
    </div>
    <div class='itemContent'>
      {{:data.analysed ? data.infection_rate : "Неизвестно"}}
    </div>
  </div>
  {{else}}
    <div class="item">
      <span class='average'>Вирус не обнаружен.</span>
    </div>
  {{/if}}
{{else}}
  <div class="item">
    <span class='average'>Образец не вставлен.</span>
  </div>
{{/if}}
