<h3>Статус</h3>
<div class="item">
	<div class="itemContent" style="width: 20%;">
		{{:helper.link(data.scanning ? 'Остановить сканирование' : 'Начать сканирование', 'signal-diag', {'scanItem' : 1}, null)}}
	</div>
	<div class="itemContent" style="width: 20%;">
		{{:helper.link((data.lidstate ? 'Открыть крышку' : 'Закрыть крышку'), (data.lidstate ? 'открыта' : 'закрыта'), {'toggleLid' : 1}, null)}}
	</div>
	<div class="itemContent" style="width: 20%;">
		{{:helper.link('Извлечь предмет', 'eject', {'ejectItem' : 1}, (data.bloodsamp && !data.scanning) ? null : 'disabled')}}
	</div>
</div>
<h3>Сканер</h3>
<div class="item">
	<div class="itemLabel" style="width: 21%;">Прогресс сканирования:</div>
	<div class="itemContent" style="width: 35%;">
		{{:helper.displayBar(data.scan_progress, 0, 100, 'good')}}
		{{:data.scan_progress}} %
	</div>
	<div class="itemContent" style="width: 44%;">
		{{if data.scan_progress >= 100}}
			<span class="notice" style="width: 100%;">Сканирование успешно завершено.</span>
		{{/if}}
	</div>
</div>
<div class="statusDisplay">
	<div class="line">
		<div class="statusLabel">Предмет:</div>
		<div class="statusValue">
			{{if data.bloodsamp}}
				<span class="good">{{:data.bloodsamp}}</span>
			{{else}}
				<span class="bad">Предмет не вставлен</span>
			{{/if}}
		</div>
	</div>
	<div class="line">
		<div class="statusLabel">Эвристический анализ:</div>
		<div class="statusValue">
			{{if data.bloodsamp_desc}}
				<span class="average">{{:data.bloodsamp_desc}}</span>
			{{/if}}
		</div>
	</div>
</div>