<div class="item" style="padding-top: 10px">
	<div class="item">
		<div class="itemLabel">
			Статус:
		</div>
		<div class="itemContent">
			{{if data.docking_status == "docked"}}
				<span class="good">СОСТЫКОВАЛСЯ</span>
			{{else data.docking_status == "docking"}}
				<span class="average">СОСТЫКОВКА</span>
			{{else data.docking_status == "undocking"}}
				<span class="average">РАССТЫКОВКА</span>
			{{else data.docking_status == "undocked"}}
				<span class="idle">НЕ ИСПОЛЬЗУЕТСЯ</span>
			{{else}}
				<span class="bad">ОНИБКА</span>
			{{/if}}
		</div>
	</div>
</div>

{{for data.airlocks}}
	<div class="item" style="padding-top: 10px">
		<div class="item">
			<div class="itemLabel">
				{{:value.name}}
			</div>
			<div class="itemContent">
				{{if value.override_enabled}}
					<span class="bad">РУЧНОЕ УПРАВЛЕНИЕ</span>
				{{else}}
					<span class="good">СТАТУС ОК</span>
				{{/if}}
			</div>
		</div>
	</div>
{{/for}}