{{:helper.syndicateMode()}}
{{if data.error}}
	##СИСТЕМНАЯ ОШИБКА: {{:data.error}}{{:helper.link('RESET', null, { 'PRG_reset' : 1 })}}
{{else data.target}}
	##DoS traffic generator active. Tx: {{:data.speed}}GQ/s<br>
	{{for data.dos_strings}}
		{{:value}}<br>
	{{/for}}
	{{:helper.link('ПРЕРВАТЬ', null, { 'PRG_reset' : 1 })}}
{{else}}
	##Программа-ддосер готова к использованию. Выберите устройство.<br>
	{{if data.focus}}
		ID: {{:data.focus}}
	{{else}}
		ID: Цель не выбрана
	{{/if}}
	{{:helper.link('АКТИВИРОВАТЬ', null, { 'PRG_execute' : 1 })}}<div style="clear:both"></div>
	Обнаружено подключений:<br>
	{{for data.relays}}
		{{:helper.link(value , null, { 'PRG_target_relay' : value })}}	
	{{/for}}
{{/if}}